include dash_mp_components/dash_mp_components.min.js
include dash_mp_components/dash_mp_components.min.js.map
include dash_mp_components/metadata.json
include dash_mp_components/package-info.json
include README.md
include LICENSE
include package.json
